@model prototipo2.Models.Consumo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaConsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraConsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoPagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMenuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMenuNavigation.IdMenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTurnoNavigation.IdTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdConsumo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
