@model IEnumerable<prototipo2.Models.Consumo>

@{
    ViewData["Title"] = "Consumos";
}

<h1>Consumos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FechaConsumo)</th>
                <th>@Html.DisplayNameFor(model => model.HoraConsumo)</th>
                <th>@Html.DisplayNameFor(model => model.EmpleadoEntrega)</th>
                <th>@Html.DisplayNameFor(model => model.MontoPagado)</th>
                <th>@Html.DisplayNameFor(model => model.IdMenuNavigation.IdMenu)</th>
                <th>@Html.DisplayNameFor(model => model.IdTurnoNavigation.IdTurno)</th>
                <th>@Html.DisplayNameFor(model => model.IdUsuarioNavigation.IdUsuario)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FechaConsumo)</td>
                    <td>@Html.DisplayFor(modelItem => item.HoraConsumo)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmpleadoEntrega)</td>
                    <td>@Html.DisplayFor(modelItem => item.MontoPagado)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdMenuNavigation.IdMenu)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdTurnoNavigation.IdTurno)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)</td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.IdConsumo">Edit</a>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.IdConsumo">Details</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IdConsumo">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<link rel="stylesheet" type="text/css" href="~/css/responsive.css" />